.line {
    border-bottom: 1px solid grey;
    border-style: dotted;
}

h2 {
    color: rgb(80, 80, 80);
}

#tableau {
    padding: 30px 0px;
    font-size: 20px;
    width: 80%;
    margin: 50px auto 0px 15px;
    display: flex;
    flex-wrap: wrap;
}

.cadre {
    margin-left: 15px;
    width: 45%;
    display: flex;
    flex-direction: column;
}

.donnees {
    margin: 0px 30px 30px 0px;
    border: 1px solid gray;
    border-radius: 4px;
    background-color: rgb(230, 230, 230);
}

#picture,#capt,#formulaires {
    margin-left: 35px;
    font-size: 20px;
}

#picture {
    width: 500px;
    height: 500px;
    border-radius: 20px;
    border: 1px solid gray;
}

#formulaires {
    margin-top: 15px;
}

form {
    display: inline;
}

/* css boutons */
.btn {
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 14px 28px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
    border-radius: 5px;
}

.green {background-color: #04AA6D;} /* Green */
.green:hover {background-color: #46a049;}

.blue {background-color: #2196F3;} /* Blue */
.blue:hover {background: #0b7dda;}

.orange {background-color: #ff9800;} /* Orange */
.orange:hover {background: #e68a00;}

.red {background-color: #f44336;} /* Red */
.red:hover {background: #da190b;}

.purple {background-color: #3f224d; } /* Purple */
.purple:hover {background: #3f224d;}